<li class="" [ngClass]="top ? 'game game-top' : 'game game-bottom'">
    <app-team [id]="team"></app-team>
    <mat-form-field>
        <!-- <mat-select [(value)]="teamScore" (selectionChange)="this.checkWin()">
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
        </mat-select> -->
        <input matInput type="number" [(ngModel)]="teamScore" (input)="this.checkWin()" min="0" max="4">
    </mat-form-field>
</li>