@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.semi-spacer1 {
    height: 0rem;
}

@include media-breakpoint-up(md) {
    .semi-spacer1 {
        height: 5rem;
    }

    .semi-spacer2 {
        height: 10rem;
    }

    .final-spacer1 {
        height: 0rem;
    }

    .winner-spacer1 {
        height: 2.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .semi-spacer1 {
        height: 5rem;
    }

    .semi-spacer2 {
        height: 10rem;
    }

    .final-spacer1 {
        height: 15rem;
    }

    .winner-spacer1 {
        height: 17.5rem;
    }
}