<mat-tab-group class="header">
    <mat-tab label="Swiss Stage">
        <app-swiss-stage class="item" [loadBracket]="this.initiateBracket" [teamsSorted]="teamsSorted"
            (teamsTop8)="setTop8($event)">
        </app-swiss-stage>
    </mat-tab>
    <mat-tab label="Swiss Results">
        <app-leader-board [teams]="teamsSorted"></app-leader-board>
    </mat-tab>
    <mat-tab label="Single Elimination">
        <app-single-elim class="item" [teamsSubject]="this.teamsTop8"></app-single-elim>
    </mat-tab>
</mat-tab-group>