.container {
    display: flex;
    columns: 7;
}

.item {
    width: 100px;
    height: 50px;
}

.example-card {
    max-width: 200px;
    height: 50px;
}

.team-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-position: center;
    background-size: cover;
}