<form class="example-form" [formGroup]="csvForm" (submit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Input teams as CSV</mat-label>
        <textarea matInput cols="600" rows="16" placeholder="location/to/pic, Team Name"
            formControlName="csvText"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Load</button>
</form>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title>NA Regional 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-team></app-team>
    </mat-card-content>
</mat-card>