<!-- <form class="example-form" [formGroup]="csvForm" (submit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Input teams as CSV</mat-label>
        <textarea matInput cols="600" rows="16" placeholder="location/to/pic, Team Name"
            formControlName="csvText"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Load</button>
</form> -->
<div>
    <mat-toolbar>
        North America
    </mat-toolbar>
    <div class="container">
        <app-regional-card *ngFor="let event of naEvents" [url]="event.csvURL" [regionalName]="event.regionalName"
            [format]="event.format" (click)="initiateTeams($event)">
        </app-regional-card>
    </div>

</div>
<div>
    <mat-toolbar>
        Europe
    </mat-toolbar>
    <div class="container">
        <app-regional-card *ngFor="let event of euEvents" [url]="event.csvURL" [regionalName]="event.regionalName"
            [format]="event.format" (click)="initiateTeams($event)">
        </app-regional-card>
    </div>
</div>