.example-form {
    min-width: 150px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.example-full-width {
    width: 100%;
}

.card {
    max-width: 400px;
    margin: 10px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

div {
    width: 100%;
}

.inputContainer {
    display: flex;
    width: 100%;
    flex-direction: row;

}

button {
    padding: 0;
}