@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$purple-palette);

.container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

span {
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

span:hover {
    background: mat.get-color-from-palette($my-palette, 500);
}